 <h2>Pregunta</h2>
 <br>
 <%- include ../favourites/_stars.ejs %>
  <form method="get" action="/quizzes/<%= quiz.id %>/check">
    <p> Pregunta:<strong> <%= quiz.question %> </strong></p>
    <span>
    <% if (quiz.AuthorId) { 
          if (quiz.Author) { %>
            Creada por <a href="/users/<%= quiz.AuthorId %>"><%= quiz.Author.username %></a>
            <% } }%>
    </span>
      <p>
      <% if (quiz.Attachment) { %>
      <img src="<%= quiz.Attachment.url %>" />
    <% } else { %> 
      <img src="/images/question.png" width="50px" />
    <% } %> 
    </p>
    <p>
    <input type="text" name="answer" value="<%= answer %>" placeholder="Responda aquí">
    <input type="submit" value="Comprobar">
    </p>
  </form>

<% if (session.user) { %>
<p>
  <a href="/quizzes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a>
</p>
 <% } %>

<p><strong>Comentarios:</strong></p>

<ul>
  <% for (var i in quiz.Comments) { 
       var comment = quiz.Comments[i];
       if (comment.accepted) { %>
            <li>
           <%= comment.text %> 

          <% if (comment.AuthorId) { 
                if (comment.Author) { %>
           ::: Escrito por: <%= comment.Author.username %> (Usuario: <a href="/users/<%= comment.AuthorId %>"><%= comment.AuthorId %></a>)
           <% } }%>

           <% if ((session.user) && comment.AuthorId === session.user.id) { %>
            <a href="/quizzes/<%= quiz.id %>/comments/<%= comment.id %>?_method=DELETE"><button>Borrar</button></a>
            <% } %>
            </li>
       <% } else if ((session.user) && (session.user.isAdmin || (quiz.AuthorId === session.user.id)))  { %>
           
           <li> <%= comment.text %> 
           
           <% if (comment.AuthorId) { 
            if (comment.Author) { %>
           ::: Escrito por: <%= comment.Author.username %> (Usuario: <a href="/users/<%= comment.AuthorId %>"><%= comment.AuthorId %></a>)
           <% } }%>
           
           <a href="/quizzes/<%= quiz.id %>/comments/<%= comment.id %>/accept?_method=PUT">
              <button>Aceptar Comentario</button>
           </a>
           <a href="/quizzes/<%= quiz.id %>/comments/<%= comment.id %>?_method=DELETE"><button>Borrar</button></a>
           </li>
       <% } %>
  <% } %>
</ul>

